.inicio{
  position:relative;
  top:;
  bottom:;
  right:;
  left:50px;}

.descargas{
  position:relative;
  top:;
  bottom:80;
  right:;
  left:430px;}

.musica{
  position:relative;
  top:;
  bottom:160;
  right:;
  left:800;
}
